<!doctype html>

<html>

<head>
  <title>Airbitz Workshop</title>
</head>

<body>
  <h1>Current app status</h1>

  <h2>Keys</h2>
  <pre>{{keys}}</pre>

  <h2>Address</h2>
  <p>{{address}}</p>
  <p style="max-width: 2in">{{{addressSvg}}}</p>

  <h2>Balance</h2>
  <p>{{balance}}</p>

  <h2>Spend</h2>
  <form action='./spend' method="POST">
    <label for='address'>Address</label><input name='address' type='text'>
    <label for='amount'>Amount</label><input name='amount' type='text'>
    <input type="submit", value="Spend">
  </form>
</body>

</html>
